body{
    font-family: 'Roboto', sans-serif;}
#header{ 
background-color: black;
 border:white solid;
text-align:center;
color: yellow;} 
#content{
    background-image:url("https://wallpaper.dog/large/17205091.jpg"); 
     font-family: 'Kaisei HarunoUmi', serif;
       border: yellow 2pt solid;
      }